p {
    font-size:0.9rem;
}

article, aside, footer, header, nav, section {
    display: block;
}

h2,h3,h4,h5,h6 {
    font-size:2rem;
    color:#cc0033;
    font-family: 'Comfortaa', cursive;
    margin-bottom:-16px;
}

ol li {
    margin-bottom:16px;
}

ol { 
    counter-reset: item;
    list-style-type: none;
}

li { 
    display: block; 
}



ol li:before { 
    content: counter(item) "  "; 
    counter-increment: item;
    color: #999999;
    margin-right:20px;
    list-style-position: outside;
    margin-left: -2.1rem;
    font-weight:700;
    
}

img {
    width: 100%;
    height: auto;
}

body {
    background:#fdfdfd;
    margin-top: 0px;
    max-width:980px;
    margin:0 auto;
    background-image: url("http://i.imgur.com/l5Y9IRu.jpg");
    background-repeat: repeat-y;
    font-family: 'Open Sans', sans-serif;
    font-size:0.9rem;
}

#container { 
    position:relative; 
    padding:0 0 0 0; 
    margin:0 auto;
    background:#fff;
    margin-top:-22px;

}

#main {
    margin-top: 10px;
    width: 100%;;
}

#header-menu {
    
    float: right;
    height: 30px;
    margin-right: -41px;
    margin-top: -55px;
    padding: 10px;
}

.menu-link-box {
    margin: 0 auto;
    width: 350px;
    list-style: none;
    
}

.menu-link a {
    font-weight:600;
    text-transform:uppercase;
    text-decoration: none;
    color:#fff;
    float: left;
    font-size: 14px;
    margin-left: -6px;
    -moz-border-radius: 16px 0px 0px 0px;
    -webkit-border-radius: 16px 0px 0px 0px;
    border-radius: 16px 0px 0px 0px;
    background:#e81b00;
    padding:10px 30px 10px 30px;
    border-left:3px solid #fdfdfd;
    border-top:3px solid #fdfdfd;
    letter-spacing:1px;
    font-family: 'Comfortaa', cursive;
    
}

.menu-link a:hover {
    color:#fdfdfd;
    
}

.header { 
    border-bottom: 3px solid #e81b00;
    height: 66px;
    background:#fdfdfd;
    
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  font-family: 'Comfortaa', cursive;
  max-width: 310px;
}

.header h1 a {
  text-decoration: none;
  color:black;

}

#content {  
    margin:36px;
}

#source {
    font-style:0.7rem;
    color:#999;
}

aside {
    float:right;
    margin-left:20px;
    border:2px solid #ddd;
    padding:8px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    
}

footer { 
    border-top:1px solid #ccc;
    background:#fdfdfd;
    height:124px;
    margin:5px 0 0 0;
    padding:20px;
}

p.footer-text {
    font-size:0.8rem;
    max-width:170px;
    margin:0 auto;
    text-align:center;
}

#selectbox {
    margin: 10px 0 0;
    background-color: #57c7b3;
    color:#fff;
    padding:10px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#recept {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 78%;
    margin-top: 50px;
    font-style:italic;
}

#ingredients {
    padding: 0 30px 20px 0;
    float:left;
    width:33%;
    margin-top:-38px;
}

.ingredients {
   padding-top:15px;
}

.ingredients ul li {
   margin-top:16px;
}

#step-by-step {
    line-height: 24px;
    
}

.step-by-step {
    padding:40px;
    margin-left:20px;
    
}

.info-box {
    background-color: #57c7b3;
    border-radius: 5px;
    margin: 0 0 30px 0;
    padding: 4px;
}

.info-box h2 {
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    text-shadow: 1px 1px 0 #777;
}

.star {
    width: 8%;
    -webkit-filter: grayscale(100%); 
    float: left;
}

#votes {
    padding-left: 30%;
    margin-bottom: 0%;
    padding-top: 2%;
}
#rating {
    margin-top: 1%;
    margin-bottom: 0%;
}

#star-rating {
    font-size: 100%;
    width: 40%;
    min-width: 15rem;
    max-height: 10rem;
    margin-top: -2%;
    margin-left: 60%;
    margin-bottom: 2%;
    border:2px solid #ddd;
    border-radius:10px;
    padding:20px;
}

#loading {
    display: none;
    position: absolute;
    background-color: transparent;
    padding-left: 15%;
    padding-right: 15%;
    z-index: 11;
    width: 2%;
    
    
}



@media only screen and (max-width: 767px) {
    
    #content {  
    margin:10px;
    
    }
    
    aside {
    float:right;
    margin-left:20px;
    
    }
    
    .header { 
    height: 140px;
    
    }

}

@media only screen and (max-width: 480px) {
    
    
    aside {
    margin-left:0px;
    float:right;
    
    }
    
    p {
    font-size:1.4rem;
    
    }
    
    .header { 
    height: 140px;
    
    }
    
}
