p {
    font-size:0.8rem;
}

article, aside, footer, header, nav, section {
    display: block;
}

h2,h3,h4,h5,h6 {
    font-size:2rem;
    color:#cc0033;
    font-family: 'Poiret One', cursive;
    font-style: italic;
    margin-bottom:-16px;
}

img {
    width: 100%;
    height: auto;
}

body {
    background:#fdfdfd;
    margin-top: 0px;
    max-width:980px;
    margin:0 auto;
    background-image: url("http://i.imgur.com/l5Y9IRu.jpg");
    font-family: 'Open Sans', sans-serif;
}

#container { 
    position:relative; 
    padding:0 0 0 0; 
    margin:0 auto;
    background:#fff;
    margin-top:-22px;

}

#main {
    margin-top: 10px;
    width: 100%;;
}

#header-menu {
    
    float: right;
    height: 30px;
    margin-right: -26px;
    margin-top: -56px;
    padding: 10px;
}

.menu-link-box {
    margin: 0 auto;
    width: 350px;
    list-style: none;
    
}

.menu-link a {
    font-weight:600;
    text-transform:uppercase;
    text-decoration: none;
    color:#fff;
    float: left;
    font-size: 14px;
    margin-left: -6px;
    -moz-border-radius: 16px 0px 0px 0px;
    -webkit-border-radius: 16px 0px 0px 0px;
    border-radius: 16px 0px 0px 0px;
    background:#e81b00;
    padding:10px 30px 10px 30px;
    border-left:3px solid #fdfdfd;
    border-top:3px solid #fdfdfd;
    letter-spacing:1px;
    
}

.menu-link a:hover {
    color:#fdfdfd;
    
}

.header { 
    border-bottom: 3px solid #e81b00;
    height: 66px;
    background:#fdfdfd;
    
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  font-family: 'Poiret One', cursive;
  font-style: italic;
  max-width: 290px;
}

.header h1 a {
  text-decoration: none;
  color:#000;

}

#content {  
    margin:36px;
}

aside {
    float:right;
    margin-left:20px;
    border:2px solid #ddd;
    padding:8px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    
}

footer { 
    border-top:1px solid #ccc;
    background:#fdfdfd;
    height:20px;
    margin:5px 0 0 0;
    padding:20px;
}

p.footer-text {
    font-size:0.8rem;
    max-width:170px;
    margin:0 auto;
}

#ingredients {
    padding: 0 30px 40px 0;
    float:left;
    width:25%;
    margin-top:-38px;
}

.ingredients {
   padding-top:25px;
}

#step-by-step {
    line-height: 24px;
    
}

.step-by-step {
    padding:40px;
    margin-left:20px;
    
}

<<<<<<< HEAD

@media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}

=======
>>>>>>> origin/master
@media only screen and (max-width: 767px) {
    
    #content {  
    margin:10px;
    
    }
    
    aside {
    float:right;
    margin-left:20px;
    
    }
    
    .header { 
    height: 140px;
    
    }

}

@media only screen and (max-width: 480px) {
    
    
    aside {
    float:right;
    margin-left:0px;
    
    }
    

}
