/* Det här är external css,
dvs css i en extern fil */

body {
    background:#fdfdfd;
    margin-top: 0px;
    max-width:980px;
    margin:0 auto;
    background-image: url("http://i.imgur.com/l5Y9IRu.jpg");
}

.container { 
    position:relative; 
    padding:0 0 0 0; 
    margin:0 auto;
    background:#fff;
    margin-top:-22px;

}

#main {
    margin-top: 10px;
    width: 100%;;
}

#sidebar {
    position:absolute;
    top:0px; 
    bottom:0; 
    left:0;
    width:180px;
    
}

#header-menu {
    
    padding:10px;
    height:30px;
    margin-top: -50px;
    padding: 10px;
    float: right;
    
}

.menu-link-box {
    margin: 0 auto;
    width: 200px;
    list-style: none;
    
}

.menu-link a {
    font-family:"Verdana", Geneva, sans-serif;
    font-weight:700;
    text-transform:uppercase;
    text-decoration: none;
    color:#fff;
    float: left;
    font-size: 20px;
    margin-left: 20px;
    -moz-border-radius: 3px 3px 0px 0px;
-webkit-border-radius: 3px 3px 0px 0px;
border-radius: 3px 3px 0px 0px; 
    background: red;
    padding:10px;
    
}

.menu-link a:hover {
    color:#fdfdfd;
    
}

.sidebar-menu-header {
    height:auto;
    background:#e81923;
    color:#fff;
    padding:6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

#header { 
    border-bottom: 3px solid red;
    height: 66px;
    
}

#content { 
    border:1px solid #ccc;  
    margin:5px 0 5px 0;
    padding:20px;
    margin:20px;
}
#footer { 
    border-top:1px solid #ccc; 
    height:20px;
    margin:5px 0 0 0;
    padding:20px;
}